<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pakeisti slaptažodį</title>
</head>
<body>
<h1>Pakeisti slaptažodį</h1>
<div style="color: red" th:if="${message}" th:text="${message}"></div>
<div style="color: deepskyblue" th:if="${info}" th:text="${info}"></div>

<div th:if="${token}">
    <form action="#" method="post" th:action="@{/reset-password(token=${token})}" th:object="${resetPassword}">
        <div>
            <label>Password</label>
            <input th:field="*{password}" type="password"/>
            <span style="color: red" th:each="error: ${#fields.errors('password')}"
                  th:text="${error}">Validation error</span>
        </div>
        <div>
            <label>Confirm password</label>
            <input th:field="*{passwordVerify}" type="password"/>
        </div>
        <div>
            <input type="submit" value="Sign In"/>
            <a th:href="@{/login}">Login</a>
        </div>
    </form>
</div>

</body>
</html>