<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{_layouts/layout}"
      th:with="pageName=${'Klientų sąrašas'}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="${pageName}">...</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row pt-2">
        <div class="col-md-12 d-flex">
            <h4 th:text="${pageName}"></h4>
            <a class="btn btn-success font-weight-bold ml-auto" th:href="@{/manage-customer/add}">Pridėti naują
                klientą</a>
        </div>
    </div>

    <div class="row pt-2">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Vardas, pavardė</th>
                <th scope="col">Email</th>
                <th scope="col">Telefonas</th>
                <th scope="col">El. vartotojas</th>
                <th scope="col">Aktyvus</th>
                <th></th>
            </tr>
            </thead>
            <tbody th:each="customer : ${customerList}">
            <tr>
                <td th:text="${customer.firstName + ' ' + customer.lastName}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.phone}"></td>
                <td th:text="${!customer.password.isEmpty()}"></td>
                <td th:text="${customer.active}"></td>

                <td class="text-right">
                    <a class="btn btn-sm btn-outline-primary font-weight-bold"
                       th:href="@{/manage-customer/{id}/view(id=${customer.id})}">Info &raquo;</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>