<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layout-auth.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      th:with="pageName=${'Registracija'}">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="${pageName}">...</title>
</head>
<body>

<div layout:fragment="content">
    <div class="row justify-content-center align-items-center" style="height:calc(75vh - 60px)">
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" th:text="${pageName}">...</h5>

                    <div class="alert alert-danger" th:if="${message}" th:text="${message}"></div>

                    <form action="#" autocomplete="off" method="post" th:action="@{/registration}"
                          th:object="${customer}">

                        <div class="form-row">
                            <div class="col-md-6 mb-3 form-group">
                                <label th:for="firstName">El. paštas</label>
                                <input th:class="${#fields.errors('email').isEmpty()} ? 'form-control' : 'form-control is-invalid'"
                                       th:field="*{email}" type="email"/>
                                <div class="invalid-feedback" th:each="error: ${#fields.errors('email')}"
                                     th:text="${error}"></div>
                            </div>
                            <div class="col-md-6 mb-3 form-group">
                                <label th:for="firstName">Telefono nr</label>
                                <input th:class="${#fields.errors('phone').isEmpty()} ? 'form-control' : 'form-control is-invalid'"
                                       th:field="*{phone}" type="text"/>
                                <div class="invalid-feedback" th:each="error: ${#fields.errors('phone')}"
                                     th:text="${error}"></div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3 form-group">
                                <label th:for="firstName">Vardas</label>
                                <input th:class="${#fields.errors('firstName').isEmpty()} ? 'form-control' : 'form-control is-invalid'"
                                       th:field="*{firstName}" type="text"/>
                                <div class="invalid-feedback" th:each="error: ${#fields.errors('firstName')}"
                                     th:text="${error}"></div>
                            </div>
                            <div class="col-md-6 mb-3 form-group">
                                <label th:for="firstName">Pavardė</label>
                                <input th:class="${#fields.errors('lastName').isEmpty()} ? 'form-control' : 'form-control is-invalid'"
                                       th:field="*{lastName}" type="text"/>
                                <div class="invalid-feedback" th:each="error: ${#fields.errors('lastName')}"
                                     th:text="${error}"></div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3 form-group">
                                <label th:for="password">Slaptažodis</label>
                                <input th:class="${#fields.errors('password').isEmpty()} ? 'form-control' : 'form-control is-invalid'"
                                       th:field="*{password}" type="password"/>
                                <div class="invalid-feedback" th:each="error: ${#fields.errors('password')}"
                                     th:text="${error}"></div>
                            </div>
                            <div class="col-md-6 mb-3 form-group">
                                <label th:for="passwordVerify">Pakartokite slaptažodį</label>
                                <input th:class="${#fields.errors('passwordVerify').isEmpty()} ? 'form-control' : 'form-control is-invalid'"
                                       th:field="*{passwordVerify}" type="password"/>
                                <div class="invalid-feedback" th:each="error: ${#fields.errors('passwordVerify')}"
                                     th:text="${error}"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class=" text-center">
                                <input class="btn btn-primary" type="submit" value="Registuotis">
                                <a class="btn btn-link" th:href="@{/login}">Prisijungti</a>
                                <a class="btn btn-link" th:href="@{/remember-password}">Priminti slaptažodį?</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>