<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{_layouts/layout-auth.html}"
      th:with="pageName=${'Pakeisti slaptažodį'}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="${pageName}">...</title>
</head>
<body>

<div layout:fragment="content">
    <div class="row justify-content-center align-items-center" style="height:calc(75vh - 60px)">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" th:text="${pageName}">...</h4>

                    <div class="alert alert-danger" th:if="${message}" th:text="${message}"></div>
                    <div class="alert alert-info" th:if="${info}" th:text="${info}"></div>

                    <form autocomplete="off" method="post" th:action="@{/reset-password(token=${token})}"
                          th:object="${resetPassword}" th:unless="${pageHideForm}">

                        <div class="form-group">
                            <label th:for="password">Slaptažodis</label>
                            <input th:class="${#fields.errors('password').isEmpty()} ? 'form-control' : 'form-control is-invalid'"
                                   th:field="*{password}" type="password"/>
                            <div class="invalid-feedback" th:each="error: ${#fields.errors('password')}"
                                 th:text="${error}"></div>
                        </div>
                        <div class="form-group">
                            <label th:for="passwordVerify">Pakartokite slaptažodį</label>
                            <input th:class="${#fields.errors('passwordVerify').isEmpty()} ? 'form-control' : 'form-control is-invalid'"
                                   th:field="*{passwordVerify}" type="password"/>
                            <div class="invalid-feedback" th:each="error: ${#fields.errors('passwordVerify')}"
                                 th:text="${error}"></div>
                        </div>
                        <div class="form-group text-center">
                            <input class="btn btn-primary" type="submit" value="Pakeisti">
                        </div>
                    </form>

                    <div class="text-center">
                        <a class="card-link" th:href="@{/login}">Prisijungti</a>
                        <a class="card-link" th:href="@{/registration}">Registruotis</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>