<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{_layouts/layout}"
      th:with="pageName=${'Redaguoti: ' + employeeDto.email}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE" th:text="${pageName}">...</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row justify-content-center align-items-center pt-2 pt-2">
        <h4 th:text="${pageName}"></h4>
    </div>

    <div class="row justify-content-center align-items-center pt-2 pt-2">
        <div class="col-9">

            <div th:replace="_layouts/_fragments :: messages"></div>

            <form action="#" autocomplete="off" method="post"
                  th:action="@{/manage-employee/{employeeId}/edit(employeeId=${employeeId})}"
                  th:object="${employeeDto}">

                <div th:replace="manage-employee/_form :: manageEmployeeForm"></div>

                <div class="form-row">
                    <div class="col-md-12 form-group">
                        <div class="text-center">
                            <a class="btn btn-outline-secondary font-weight-bold"
                               th:href="@{/manage-employee/{id}/view(id=${employee.id})}">
                                &laquo; Atgal</a>
                            <input class="btn btn-success" type="submit" value="Išsaugoti">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
</body>